body {
  color: #3c373b;
}

h1 {
  font-family: "Gaegu", cursive;
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Gaegu", cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
}

p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

img {
  border-radius: 10px;
}

#banner {
  width: 100%;
  margin-top: 50px;
}
.content-row {
  display: flex;
}

.content-row div {
  margin: 20px;
}

.container {
  /*======= width property yaratın. Değerini 750px olarak atayın */
  margin: 0 auto;
  width: 750px;
}
.Navigasyon {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.container header nav a {
  font-size: 20px;
  justify-content: center;
  text-align: center;
  margin: 0 20px;
  border: 1px solid lightgray;
  padding: 0 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background-color: #e79947;
}

.container header nav a:hover {
  background-color: white;
  color: #e79947;
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/

footer {
  width: 100%;
  background: #e79947;
  border-top: 1px dashed white;
  padding: 0px;
}

footer .footer-content {
  margin: 0 auto;
  width: 750px;
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

footer nav a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0;
}

footer nav a:hover {
  color: white;
}
footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
}
